body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.loading-map{
  background-color: rgba(0,0,0,0.8);
  color: antiquewhite;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

.search-container{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.2);
  left: 20px;
  padding: 5px;
  position: fixed;
  top:20px;
  width: 30vh;
  z-index: 999;

}

.pe-auto{
  cursor: pointer;
}